@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$accent: #ff8900;
$second-color: #855c57;
$black-color: #1f1f1f;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;


    header{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content__header{
            .display{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;

                .content__info{
                    h1{
                        text-transform: uppercase;
                        font-size: 3.5rem;
                        line-height: 1.5;
                    }
                    p{
                        margin-top: 1.5rem;
                        font-size: 0.95rem;
                        line-height: 1.5rem;
                    }
                    a{
                        background-color: $accent;
                        color: #FFF;
                        text-decoration: none;
                        padding: 1rem 2rem 1rem 2rem;
                        border-radius: 4px;
                        margin-top: 1.5rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        max-width: 250px;
                        
                        svg{
                            transition: all 0.5s;
                            &:hover{
                                padding-left: 1rem;
                            }
                        }
                    }
                }

                .content__img{
                    position: relative;

                    img{
                        max-width: 100%;
                        height: auto;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        background-color: $second-color;
                        max-width: 350px;
                        max-height: 350px;
                        width: 100%;
                        height: 100%;
                        left: 50%;
                        top: 10%;
                        transform: translateX(-50%);
                        z-index: -1;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    section{
        &.about__us{
            background: linear-gradient(90deg, rgba(133,92,87,1) 0%, rgba(133,92,87,1) 35%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .display{
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 2rem;

                .content__img{
                    img{
                        max-width: 440px;
                    }
                }
                .content__text{
                    p{
                        font-size: 0.9rem;
                    }

                    ul{
                        display: flex;
                        padding: 0;
                        list-style: none;
                        gap: 1rem;
                        margin-top: 2.5rem;

                        li{
                            img{
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        &.product{
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;

            .display{
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: end;
                justify-content: center;

                .content__info{
                    h3{
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 1.25rem;
                    }
                    h2{
                        font-weight: 400;
                        font-size: 2rem;
                        margin-top: 1.5rem;
                    }
                    p{
                        font-size: 0.85rem;
                        margin-top: 1.5rem;
                        line-height: 1.6;
                    }
                    a{
                        color: $accent;
                        text-decoration: none;
                        margin: 1.5rem 0 2rem;
                        display: inline-block;
                    }
                }
                .content__img{
                    display: flex;
                    justify-content: center;
                    img{
                        max-width: 350px;
                    }
                }
            }
        }
        &.quality{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e9e2da;

            .display{
                display: grid;
                grid-template-columns: 1fr .5fr 1fr;
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;

                .content__info_one{
                    text-align: right;

                    ul{
                        list-style: none;
                        padding: 0;
                        
                        li{
                            margin: 1rem 0;
                            margin-right: 1.5rem;
                            margin: 1.5rem 1.5rem;
                            
                            p{
                                font-size: .85rem;
                                margin-top: 0.25rem;
                                position: relative;

                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 25px;
                                    height: 25px;
                                    background-color: #c4c4c4;
                                    border-radius: 50%;
                                    margin-left: .5rem;
                                }
                            }

                            

                            &:nth-of-type(2){
                                margin-right: 3.5rem;
                            }
                        }
                    }
                }

                .content__img{
                    img{
                        max-width: 250px;
                    }
                }
            }
        }
        &.gallery{
            padding: 3rem 0;

            h2{
                text-align: center;
            }
            p{
                text-align: center;
                margin-top: 1rem;
            }

            .display{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-row: 1fr 1fr 1fr;
                gap: 1rem;
                margin-top: 3rem;

                .gallery__img{

                    img{
                        max-width: 100%;
                        height: auto;
                        width: 100%;
                    }

                    &:nth-of-type(1){
                        grid-area:  1 / 1 / 2 / 2;
                    }
                    &:nth-of-type(2){
                        grid-area: 1 / 2 / 2 / 4;
                    }
                    &:nth-of-type(3){
                        grid-area: 1 / 4 / 4 / 5;
                    }
                    &:nth-of-type(4){
                        grid-area: 2 / 1 / 4 / 2;
                    }
                    &:nth-of-type(5){
                        grid-area: 2 / 2 / 3 / 3;
                    }
                    &:nth-of-type(6){
                        grid-area: 2 / 3 / 4 / 4;
                    }
                    &:nth-of-type(7){
                        grid-area: 3 / 2 / 4 / 3;
                    }
                    
                }
            }
        }
        &.testimonial{
            padding: 4rem 0;

            h2{
                text-align: center;
            }
            p{
                text-align: center;
                margin-top: 1rem;
            }

            .display{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 5rem;

                .testimonial__content{
                    .data__testimonial{
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
    
                        .pic__testimonial{
                            img{
                                border-radius: 50%;
                            }
                        }
    
                        .info__testimonial{
                            display: flex;
                            gap: .5rem;

                            p{
                                text-align: left;
                                margin-top: 0.5rem;
                            }
    
                            ul{
                                display: flex;
                                padding: 0;
                                list-style: none;
                                gap: .25rem;
                            }
                        }
                    }

                    .text__testimonial{
                        p{
                            font-size: 0.85rem;
                            margin-top: .5rem;
                            text-align: left;
                        }
                    }
                }

                
            }
        }
        &.contact{
            padding: 3rem 0;
            background-color: #E5E5E5;

            .display{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;

                form{
                    .form__group{
                        margin: 1rem 0;


                        input{
                            display: block;
                            width: 100%;
                            font-size: 1rem;
                            padding: 0.5rem;
                            border-radius: .25rem;
                            border: 1px solid black;
                            margin-top: 0.25rem;
                        }
                        textarea{
                            display: block;
                            width: 100%;
                            font-size: 1rem;
                            padding: .5rem;
                            border-radius: .25rem;
                            border: 1px solid black;
                        }

                    }
                    button{
                        padding: 0.75rem 2rem;
                        border: none;
                        color: #FFF;
                        background-color: $accent;
                        display: flex;
                        align-items: center;
                        
                        svg{
                            margin-left: .5rem;
                        }
                    }
                }

                .contact__info{
                    margin-top: 1rem;

                    ul{
                        li{
                            margin: 1rem 0;

                            a{
                                color: #000;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    footer{
        padding: 3rem 0;
        background-color: $second-color;

        .content__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info__footer{
                display: flex;
                gap: 5rem;

                ul{
                    li{
                        margin: 0.5rem 0;

                        a{
                            color: #FFF;
                        }
                    }
                }

                .menu__footer{
                    ul{
                        li{
                            margin: .5rem 0;
                            a{
                                color: #FFF;
                            }
                        }
                    }
                }
            }
            
        }

        hr{
            margin: 1rem 0;
        }

        .copy__footer{
            text-align: center;
            color: #FFF;
        }
    }
}