@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

body header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .content__header .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .content__header .display .content__info h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.5;
}

body header .content__header .display .content__info p {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

body header .content__header .display .content__info a {
  background-color: #ff8900;
  color: #FFF;
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 4px;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  max-width: 250px;
}

body header .content__header .display .content__info a svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header .content__header .display .content__info a svg:hover {
  padding-left: 1rem;
}

body header .content__header .display .content__img {
  position: relative;
}

body header .content__header .display .content__img img {
  max-width: 100%;
  height: auto;
}

body header .content__header .display .content__img::after {
  content: '';
  position: absolute;
  background-color: #855c57;
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  border-radius: 50%;
}

body section.about__us {
  background: -webkit-gradient(linear, left top, right top, from(#855c57), color-stop(35%, #855c57), color-stop(35%, white), to(white));
  background: linear-gradient(90deg, #855c57 0%, #855c57 35%, white 35%, white 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.about__us .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

body section.about__us .display .content__img img {
  max-width: 440px;
}

body section.about__us .display .content__text p {
  font-size: 0.9rem;
}

body section.about__us .display .content__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  gap: 1rem;
  margin-top: 2.5rem;
}

body section.about__us .display .content__text ul li img {
  border-radius: 50%;
}

body section.product {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.product .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.product .display .content__info h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
}

body section.product .display .content__info h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1.5rem;
}

body section.product .display .content__info p {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  line-height: 1.6;
}

body section.product .display .content__info a {
  color: #ff8900;
  text-decoration: none;
  margin: 1.5rem 0 2rem;
  display: inline-block;
}

body section.product .display .content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.product .display .content__img img {
  max-width: 350px;
}

body section.quality {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e2da;
}

body section.quality .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .5fr 1fr;
      grid-template-columns: 1fr .5fr 1fr;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

body section.quality .display .content__info_one {
  text-align: right;
}

body section.quality .display .content__info_one ul {
  list-style: none;
  padding: 0;
}

body section.quality .display .content__info_one ul li {
  margin: 1rem 0;
  margin-right: 1.5rem;
  margin: 1.5rem 1.5rem;
}

body section.quality .display .content__info_one ul li p {
  font-size: .85rem;
  margin-top: 0.25rem;
  position: relative;
}

body section.quality .display .content__info_one ul li p::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-left: .5rem;
}

body section.quality .display .content__info_one ul li:nth-of-type(2) {
  margin-right: 3.5rem;
}

body section.quality .display .content__img img {
  max-width: 250px;
}

body section.gallery {
  padding: 3rem 0;
}

body section.gallery h2 {
  text-align: center;
}

body section.gallery p {
  text-align: center;
  margin-top: 1rem;
}

body section.gallery .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 3rem;
}

body section.gallery .display .gallery__img img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

body section.gallery .display .gallery__img:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

body section.gallery .display .gallery__img:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
}

body section.gallery .display .gallery__img:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 4 / 5;
}

body section.gallery .display .gallery__img:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

body section.gallery .display .gallery__img:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

body section.gallery .display .gallery__img:nth-of-type(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 4 / 4;
}

body section.gallery .display .gallery__img:nth-of-type(7) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

body section.testimonial {
  padding: 4rem 0;
}

body section.testimonial h2 {
  text-align: center;
}

body section.testimonial p {
  text-align: center;
  margin-top: 1rem;
}

body section.testimonial .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

body section.testimonial .display .testimonial__content .data__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.testimonial .display .testimonial__content .data__testimonial .pic__testimonial img {
  border-radius: 50%;
}

body section.testimonial .display .testimonial__content .data__testimonial .info__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

body section.testimonial .display .testimonial__content .data__testimonial .info__testimonial p {
  text-align: left;
  margin-top: 0.5rem;
}

body section.testimonial .display .testimonial__content .data__testimonial .info__testimonial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  gap: .25rem;
}

body section.testimonial .display .testimonial__content .text__testimonial p {
  font-size: 0.85rem;
  margin-top: .5rem;
  text-align: left;
}

body section.contact {
  padding: 3rem 0;
  background-color: #E5E5E5;
}

body section.contact .display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

body section.contact .display form .form__group {
  margin: 1rem 0;
}

body section.contact .display form .form__group input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: .25rem;
  border: 1px solid black;
  margin-top: 0.25rem;
}

body section.contact .display form .form__group textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
  border-radius: .25rem;
  border: 1px solid black;
}

body section.contact .display form button {
  padding: 0.75rem 2rem;
  border: none;
  color: #FFF;
  background-color: #ff8900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.contact .display form button svg {
  margin-left: .5rem;
}

body section.contact .display .contact__info {
  margin-top: 1rem;
}

body section.contact .display .contact__info ul li {
  margin: 1rem 0;
}

body section.contact .display .contact__info ul li a {
  color: #000;
  display: inline-block;
}

body footer {
  padding: 3rem 0;
  background-color: #855c57;
}

body footer .content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .content__footer .info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

body footer .content__footer .info__footer ul li {
  margin: 0.5rem 0;
}

body footer .content__footer .info__footer ul li a {
  color: #FFF;
}

body footer .content__footer .info__footer .menu__footer ul li {
  margin: .5rem 0;
}

body footer .content__footer .info__footer .menu__footer ul li a {
  color: #FFF;
}

body footer hr {
  margin: 1rem 0;
}

body footer .copy__footer {
  text-align: center;
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */